<img src="{{ recipe.imagePath }}" class="w-1/2" alt="{{ recipe.name }}" />
<h1>{{ recipe.name }}</h1>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
    Manage Recipe
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onAddToShoppingList()">
      To Shopping List
    </button>
    <button mat-menu-item routerLink="edit">Edit Recipe</button>
    <button mat-menu-item (click)="onDeleteRecipe()">Delete Recipe</button>
  </mat-menu>
<p>
  {{ recipe!.description }}
</p>
<div class="flex flex-col">
  <p>Ingredients</p>
  <ul class="list-disc list-inside">
    <li *ngFor="let ingredient of recipe.ingredients">
      <a style="cursor: pointer">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </a>
    </li>
  </ul>
</div>
