<form>
  <div class="flex justify-between md:flex-wrap">
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" #nameInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="number" min="0" #amountInput />
      <span matSuffix>pc</span>
    </mat-form-field>
  </div>
  <div class="flex flex-row flex-wrap space-x-4">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addIngredient()"
    >
      Add
    </button>
    <button mat-raised-button color="accent" type="button">Delete</button>
    <button mat-raised-button color="warn" type="button">Clear</button>
  </div>
</form>
